In [29]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [4]:
data = pd.read_csv('/Users/lukeopany/Documents/consumer complaints/consumercomplaints.csv')

In [5]:
data.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3101969 entries, 0 to 3101968
Data columns (total 7 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   Unnamed: 0                    3101969 non-null  int64
 1   Date received                 3101969 non-null  object
 2   Product                       3101969 non-null  object
 3   Sub-product                   2866675 non-null  object
 4   Issue                         3101969 non-null  object
 5   Sub-issue                     2418614 non-null  object
 6   Consumer complaint narrative  1113992 non-null  object
dtypes: int64(1), object(6)
memory usage: 165.7+ MB

In [28]:
data.describe()

         Unnamed: 0
count  8.878080e+05
mean   1.418925e+06
std    8.934593e+05
min    3.000000e+00
25%    6.524340e+05
50%    1.289806e+06
75%    2.193525e+06
max    3.101964e+06

In [6]:
duplicates = data[data.duplicated()]
print(f"Shape of duplicates: {duplicates.shape}")
if len(duplicates) > 0:
    display(duplicates.head())

Shape of duplicates: (0, 7)

In [ ]:
#Dropped the Unnamed: 0 column as it is not needed
data = data.drop('Unnamed: 0', axis=1)

In [19]:
data.head(5)

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative
0,2022-11-11,Mortgage,Conventional home mortgage,Trouble during payment process,NaN,NaN
1,2022-11-23,"Credit reporting, credit repair services, or o...",Credit reporting,Improper use of your report,Reporting company used your report improperly,NaN
2,2022-11-16,Mortgage,VA mortgage,Trouble during payment process,NaN,NaN
3,2022-11-15,Checking or savings account,Checking account,Managing an account,Fee problem,"Hi, I have been banking with Wells Fargo for o..."
4,2022-11-07,Mortgage,Other type of mortgage,Trouble during payment process,NaN,NaN

In [6]:
data = data.dropna()

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 887808 entries, 3 to 3101964
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    887808 non-null  int64
 1   Date received                 887808 non-null  object
 2   Product                       887808 non-null  object
 3   Sub-product                   887808 non-null  object
 4   Issue                         887808 non-null  object
 5   Sub-issue                     887808 non-null  object
 6   Consumer complaint narrative  887808 non-null  object
dtypes: int64(1), object(6)
memory usage: 54.2+ MB

In [27]:
data['Product'].value_counts()

Product
Credit reporting, credit repair services, or other personal consumer reports    507582
Debt collection                                                                 192045
Credit card or prepaid card                                                      80410
Checking or savings account                                                      54192
Student loan                                                                     32697
Vehicle loan or lease                                                            19874
Payday loan, title loan, or personal loan                                         1008
Name: count, dtype: int64

In [ ]:
data.head(5)

,Unnamed: 0,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative
3,3,2022-11-15,Checking or savings account,Checking account,Managing an account,Fee problem,"Hi, I have been banking with Wells Fargo for o..."
11,11,2022-11-09,Debt collection,Other debt,False statements or representation,Indicated you were committing crime by not pay...,XXXX is attempting to collect funds for Valuat...
15,15,2022-11-14,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Account information incorrect,Today I called to get my balance and reset my ...
51,51,2022-10-12,"Credit reporting, credit repair services, or o...",Credit reporting,Problem with a credit reporting company's inve...,Their investigation did not fix an error on yo...,The Federal Trade Commission Bureau of Consume...
72,72,2022-10-09,"Credit reporting, credit repair services, or o...",Credit reporting,Problem with a credit reporting company's inve...,Difficulty submitting a dispute or getting inf...,Ive mailed police report called been hung up o...